<div class="right-main">
 <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" ng-click="tabChange(0)">
                <a href="#storage" aria-controls="storage" role="tab" data-toggle="tab">未打印</a>
            </li>
            <li ng-click="tabChange(1)">
                <a href="#logistic" aria-controls="logistic" role="tab" data-toggle="tab">已打印</a>
            </li>
        </ul>
    </div>
    <pl4-query style="border-top: 0;"></pl4-query>
    <p>VMI取货列表</p>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    <div class="addStation-btns" style="float: left;margin-top: -10px;">

        <button type="button" class="btn btn-primary btn-sm" ng-click="print()">
            打印选择
        </button>
    </div>
    <div class="modal fade" data-backdrop="static"  id="enterPrint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">请确认是否打印成功</p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="allocation-container">
                    <div class="allocation-addGoods-content">

                        <div class="addStation-btns">
                            <button class="btn btn-primary btn-sm" type="button" ng-click="printConfirm()">打印成功</button>
                            <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">打印失败</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>