<div class="takegoods">
    <table class="table table-bordered table-hover">
        <tbody>
            <th>序号</th>
            <th>业务单号</th>
            <th>发货日期</th>
            <th>发货方</th>
            <th>客户方</th>
            <th>业务类型</th>
            <th>单据状态</th>
            <th>商品种类</th>
            <th>数量数量</th>
            <th>差异</th>
            <th>操作</th>
        </tbody>
        <tbody>
            <tr>
                <td>1</td>
                <td>12211</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td>12211</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>