<!--
  - Created by hui.sun on 15/12/13.
 -->
<div class="right-main">
    <div class="right-title-nav">
        <span class="fw-bold title-nav-items">残损品上架<i class="triangle-right"></i></span>
        <span class="title-nav-items bg-gray">
        	<i class="triangle-topright bt-gray"></i>
        	<i class="triangle-bottomright bb-gray"></i>
        	明细查看
        	<i class="triangle-right bl-gray"></i>
        </span>
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" ng-click="navClick(0)"><a href="#a" aria-controls="storage" role="tab" data-toggle="tab">未上架</a></li>
            <li ng-click="navClick(1)"><a href="#b" aria-controls="logistic" role="tab" data-toggle="tab">已上架</a></li>
        </ul>
    </div>
    <pl4-query style="border-top:0 "></pl4-query>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
</div>