<div class="right-main">
       <pl4-storage-select></pl4-storage-select>

    <pl4-query></pl4-query>

    <div class="margin-bottom15">
        <!--<span>查询结果</span>-->
     <pl4-excel grid-table="result" action="/compensateMonitor/impToExcel" ex-params="exParams"></pl4-excel>
    </div>
    <div>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    </div>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
	<!-- 支付登记  -->
	<div class="modal fade" data-backdrop="static"  id="payRegistration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 50%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">支付登记</p>
                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
               <div  class="new-version-table">
                   <div class="m-text" style="padding: 10px 5px">
                       <div class="header-title1" style="padding-right: 20px;">
                           {{payBanner.taskId}}订单中 下列商品，因<{{payBanner.distributName}}> 联系方式 <{{payBanner.phone}}>的原因造成丢失/破损，经过双方合理协商<{{payBanner.distributName}}>同意照价赔偿
                       </div>
                       <div class="header-title2">
                           <span>商品信息</span>
                       </div>

                       <pl4-grid grid-table="payResult" th-header="payThHeader"></pl4-grid>


                   </div>
                   <div class="clearfix"></div>
                   <div class="addStation-btns">
                       <button type="button" class="btn btn-primary btn-sm" ng-click="confirmReceipt()">确认收款</button>
                       <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <!-- 查看  -->
    <div class="modal fade" data-backdrop="static"  id="inspect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">查看</p>
                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="new-version-table">
                	<div class="header-title1" style="padding-right: 20px;">
				        {{lookBanner.taskId}}订单中 下列商品，因<{{lookBanner.distributName}}> 联系方式 <{{lookBanner.phone}}>的原因造成丢失/破损，经过双方合理协商<{{lookBanner.distributName}}>同意照价赔偿
				    </div>
				    <div class="header-title2">
				        <span>商品信息</span>
				    </div>
				    <pl4-grid grid-table="lookResult" th-header="lookThHeader"></pl4-grid>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>