<div class="right-main">
    <pl4-storage-select></pl4-storage-select>
    <pl4-query></pl4-query>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>

    <div class="modal fade" data-backdrop="static"  id="lookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">查看</p>
                    <p class="allocation-close"><a href="javascript:;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="new-version-border">
                    <p >
                        损溢单号：
                        <span>{{lookBannerModel.taskId}}</span>
                    </p>
                    <!-- <p >
                         供应商：
                         <span>{{lookBannerModel.partyName}}</span>
                     </p>
                     <p>
                         客户：
                         <span>{{lookBannerModel.customerName}}</span>
                     </p>
                     <p>
                         商品品牌：
                         <span>{{lookBannerModel.goodsBrand}}</span>
                     </p>
                     <p>
                         商品品类：
                         <span>{{lookBannerModel.remarks}}</span>
                     </p>-->
                    <p>
                        审批人：
                        <span>{{lookBannerModel.examineUser}}</span>
                    </p>
                    <p>
                        操作人：
                        <span>{{lookBannerModel.optUser}}</span>
                    </p>
                    <p>
                        盘点时间：
                        <span>{{lookBannerModel.createTime}}</span>
                    </p>
                </div>
                <div class="addStation-btns-color margin-bottom15" style="margin-left: 20px;" >
                    <span style="font-size: 16px;color:red; padding-right: 10px;">差异总金额:{{lookBannerModel.orderPrice}}元</span>
                    <button class="btn btn-primary btn-sm" ng-click="print()">打印</button>
                    <pl4-excel grid-table="result" action="/lossAndOverflowPay/impToExcel" ex-params="exParams" btn-title="导出Excel" grid-null="true"></pl4-excel>
                </div>
                <div class="new-version-table">

                    <pl4-grid grid-table="lookModelResult" th-header="lookModelThHeader"></pl4-grid>
                </div>
                <!--<div class="addStation-border-b" style="margin:10px 20px 5px"></div>-->
                <!--<pl4-paging select-option="logPagingSelect" paging-num="5" to-page="logGoToPage()" paging="orderLogPaging"></pl4-paging>-->
                <div class="clear" ></div>
                <div style="margin-right: 15px;" class="addStation-btns">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static"  id="settleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">结算</p>
                    <p class="allocation-close"><a href="javascript:;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="new-version-border">
                    <p >
                        损溢单号：
                        <span>{{lookBannerModel.taskId}}</span>
                    </p>
                    <!--<p >
                      供应商：
                      <span>{{lookBannerModel.partyName}}</span>
                  </p>
                  <p>
                      客户：
                      <span>{{lookBannerModel.customerName}}</span>
                  </p>
                  <p>
                      商品品牌：
                      <span>{{lookBannerModel.goodsBrand}}</span>
                  </p>
                 <p>
                       商品品类：
                       <span>{{lookBannerModel.remarks}}</span>
                   </p>-->
                    <p>
                        审批人：
                        <span>{{lookBannerModel.examineUser}}</span>
                    </p>
                </div>
                <div class="addStation-btns-color margin-bottom15" style="margin-left: 20px;" >
                    <span style="font-size: 16px;color:red; padding-right: 10px;">差异总金额:{{lookBannerModel.orderPrice}}元</span>
                    <button class="btn btn-primary btn-sm" ng-click="update()">确认财务信息</button>
                </div>
                <div class="new-version-table">

                    <pl4-grid grid-table="lookModelResult" th-header="lookModelThHeader"></pl4-grid>
                </div>
                <!--<div class="addStation-border-b" style="margin:10px 20px 5px"></div>-->
                <!--<pl4-paging select-option="logPagingSelect" paging-num="5" to-page="logGoToPage()" paging="orderLogPaging"></pl4-paging>-->
                <div class="clear" ></div>
                <div style="margin-right: 15px;" class="addStation-btns">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>