<!--
  - Created by hui.sun on 15/12/10.
 -->
<div class="right-main">
    <div class="banner-container">
        <p>收货仓库：<span>{{banner.ckName}}</span></p>
        <p>业务单号：<span>{{banner.taskId}}</span></p>
        <p>业务类型：<span>{{banner.taskType}}</span></p>
        <p>发货方：<span>{{banner.chuHuoName}}</span></p>
        <!-- <p>商品单数：<span>{{banner.typeCount}}</span></p> -->
        <p>应发数量：<span>{{banner.goodsCount}}</span></p>
        <p>差异金额：<span>{{banner.moneyCount}}</span></p>
        <p>差异数量：<span>{{banner.inDifferCount}}</span></p>
        <p>发货差异备注：<span>{{banner.remarks}}</span></p>
    </div>
    <pl4-grid grid-table="result" th-header="thHeader"></pl4-grid>
    <div class="addStation-btns" style="float: left;margin-top: -10px;">
        <button class="btn btn-primary btn-sm" ng-click="goBack()">
            返回
        </button>
        <pl4-excel grid-table="result" btn-title="导出excel" alert-title="确定导出吗?" action="{{action}}" ex-params="exGoodsAlloParam">
        </pl4-excel>

    </div>
    <div class="modal fade" data-backdrop="static"  id="editDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document" style="height: auto;width: 400px;">
            <div class="modal-content">
                <div style="padding: 10px 5px">
                    <div class="addStation">
                        <div class="addStation-input" style="width:100%;">
                            <div class="form-inline" >
                                <label>外包装损毁：</label>
                                <span>{{goodsDifferenceModel.packageDamage}}</span>
                            </div>
                            <div class="form-inline" >
                                <label>货物损毁：</label>
                                <span>{{goodsDifferenceModel.damage}}</span>
                            </div>
                            <div class="form-inline" >
                                <label>丢失：</label>
                                <span>{{goodsDifferenceModel.lost}}</span>
                            </div>
                        </div>
                        <div class="addStation-btns">
                            <button class="btn btn-primary btn-sm"  data-dismiss="modal">
                                确认
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>