<div class="right-main">
    <div class="banner-container">
        <p>盘点单号：<span>{{banner.taskId}}</span></p>
        <!--<p>盘点人：<span>{{banner.inventoryUser}}</span></p>-->
        <p>操作人：<span>{{banner.opUser}}</span></p>
        <p>盘点时间：<span>{{banner.createTime}}</span></p>
        
        <p ng-show="ifShow">驳回原因：<span >{{banner.refuseRemark}}</span></p>
    </div>
    <!--<pl4-query></pl4-query>-->
    <div class="margin-bottom15">
        <pl4-excel grid-table="result" btn-title="导出Excel" action="/ckInventory/impInventoryDetailToExcel" ex-params="exGoodsAlloParam"></pl4-excel>
        <button class="btn btn-primary btn-sm"  ng-click="print()">
            打印
        </button>
    </div>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    <div class="addStation-btns" style="text-align: left!important;">
        <button class="btn btn-primary btn-sm" ng-click="update()" data-dismiss="modal" type="button">返回</button>
    </div>

</div>