<div class="right-main">
    <div >
        <a class="btn btn-primary btn-sm" href="#/main/ordeImport" >
            导入订单
        </a>
        <pl4-excel grid-table="result" action="/giftOrder/exportExcel" ex-params="exParams" btn-title="导出模板" grid-null="true"></pl4-excel>
    </div>

    <pl4-query></pl4-query>

    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>

</div>