<div class="right-main">
    <div class="margin-bottom15">
        <button class="btn btn-primary btn-sm"  ng-click="addReplenishmentGift()">
            添加补货礼品
        </button>
    </div>

    <pl4-grid grid-table="result1" th-header="thHeader" paging="paging"></pl4-grid>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->

    <form class="form-inline" role="form" name="verifyForm1">
        <div class="form-group">
            <label class="" >默认供应商：</label>
            {{giftReplenishmentConfirmModel.party.name}}
        </div>
        <div class="form-group">
            <label class="" >收货仓库：</label>
            <select  class="form-control" ng-options="o.id as o.name for o in giftReplenishmentConfirmModel.rdcId.select" ng-model="giftReplenishmentConfirmModel.rdcId.id"></select>
        </div>
        <div class="form-group">
            <label class="" >承运快递：</label>
            <select class="form-control" ng-options="o.id as o.name for o in giftReplenishmentConfirmModel.wlCompId.select" ng-model="giftReplenishmentConfirmModel.wlCompId.id"></select>
        </div>
        <div class="form-group">
            <label class="" >快递单号：</label>
            <input type="text" class="form-control" required ng-model="giftReplenishmentConfirmModel.expressNo">
        </div>
        <div class="form-group">
           <button type="button" class="btn btn-primary btn-sm" ng-disabled="verifyForm1.$invalid" ng-click="confirmReplenishment()">确认补货</button>
        </div>
    </form>
    <!--弹出层-->
    <div class="modal fade" data-backdrop="static"  id="createReplenishmentGift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 65%;height: auto;">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">{{giftTtle}}</p>
                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px;margin-bottom: 15px;">
                    <pl4-query></pl4-query>
                    <pl4-grid grid-table="result2" th-header="addThHeader" paging="storagePaging"></pl4-grid>
                    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging" ></pl4-paging>
                    <button class="btn btn-primary btn-sm btn-query" ng-click="addSelected()">
                        添加选择
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>