<div class="right-main">
    <pl4-query></pl4-query>
    <div class="default-goodsAllo-ex">
        <pl4-excel grid-table="result" btn-title="导出EXCEL" alert-title="确定导出吗?" action="/ckGoodsLocation/exportLocationList" ex-params="exGoodsAlloParam"></pl4-excel>

    </div>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>

    <div class="modal fade" data-backdrop="static"  id="alloModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 40%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">查看明细</p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px">
                    <div class="addStation">
                        <pl4-grid grid-table="alloResult" th-header="allTHeader"></pl4-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>