<!-- 
  - Created by hui.sun on 15/12/10.
 -->
<div class="right-main">
   <!-- <div class="form-inline margin-bottom20">
        <div class="form-group">
            <label class="ng-binding">机构名称：</label>
            <select class="form-control" ng-model="wlDept.id" ng-options="o.id as o.name for o in wlDept.select"></select>
        </div>
    </div>
     <pl4-select china-cities="chinaCities"></pl4-select> -->
    <pl4-query></pl4-query>
    <div class="margin-bottom15">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCar" ng-click="receiptOrder()">
            签收
        </button>
    </div>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <div>
        <p>
            <span style="padding-right: 20px;">运费合计：{{banner.pays}}</span>
            <span style="padding-right: 20px;">实收运费合计：{{banner.realpays}}</span>
            <span style="padding-right: 20px;">实出件数合计：{{banner.realcounts}}</span>
            <span style="padding-right: 20px;">件数合计：{{banner.acceGoodCounts}}</span>
            <span style="padding-right: 20px;">代收款合计：{{banner.collectMoneys}}</span>
            <span style="padding-right: 20px;">实收代收款合计：{{banner.realcollectMoneys}}</span>
            <span style="padding-right: 20px;">代收款手续费合计：{{banner.fees}}</span>
            <span style="padding-right: 20px;">保价金额合计：{{banner.offerMoneys}}</span>
            <span style="padding-right: 20px;">保价费合计：{{banner.insuranceMoneys}}</span>
        </p>
    </div>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    
    <!-- Modal -->

    <div class="modal fade" data-backdrop="static"  id="compileData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 30%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title"></p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div >
                    <p style="text-align: center;padding: 10px 0 0 0;font-size: 16px;">
                        此业务单已进入外单修改页面，
                        请有此界面权限的人员进行修改！
                    </p>
                    <div class="addStation-btns" style="margin-right:10px;">
                        <button class="btn btn-primary" ng-click="updateOrder()"> 确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 15px; ">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static"  id="sendOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 20%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title"></p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div >
                    <p style="text-align: center;padding: 10px 0 0 0;font-size: 16px;">
                        是否对此订单进行再派？
                    </p>
                    <div class="addStation-btns" style="margin-right:10px;">
                        <button class="btn btn-primary" ng-click="confirmSendOrder()"> 确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 15px; ">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static"  id="refuseOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 25%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title"></p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="form-inline" style="padding-left: 30px;">
                    <div class="form-inline margin-bottom15 margin-top15">
                        <label class="ng-binding"><span class="verify">*</span>拒收原因：</label>
                        <select class="form-control" ng-model="newCar.refuseReasonModel" ng-options="o.id as o.name for o in newCar.refuseReason"></select>
                    </div>
                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding"><span class="verify">*</span>运费付费方：</label>
                        <select class="form-control" ng-model="newCar.paySideModel" ng-options="o.id as o.name for o in newCar.paySide" disabled></select>
                    </div>
                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding"><span class="verify">*</span>结算方式：</label>
                        <select class="form-control" ng-model="newCar.payTypeModel" ng-options="o.id as o.name for o in newCar.payType"></select>
                    </div>

                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding">备注：</label>
                    <textarea class="form-control" ng-model="newCar.remarks" style="margin-top: 1px;" maxlength="25">
                    </textarea>
                    </div>
                    <div class="addStation-btns" style="margin-right:10px;">
                        <button class="btn btn-primary" ng-click="confirmrefuseOrder()"> 确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 15px; ">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static"  id="halfRefuseOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 25%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title"></p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="form-inline" style="padding-left: 30px;">
                    <div class="form-inline margin-bottom15 margin-top15">
                        <label class="ng-binding"><span class="verify">*</span>拒收原因：</label>
                        <select class="form-control" ng-model="newCar.refuseReasonModel" ng-options="o.id as o.name for o in newCar.refuseReason"></select>
                    </div>
                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding"><span class="verify">*</span>运费付费方：</label>
                        <select class="form-control" ng-model="newCar.paySideModel" ng-options="o.id as o.name for o in newCar.paySide"></select>
                    </div>
                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding"><span class="verify">*</span>结算方式：</label>
                        <select class="form-control" ng-model="newCar.payTypeModel" ng-options="o.id as o.name for o in newCar.payType"></select>
                    </div>
                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding"><span class="verify">*</span>退货件数：</label>
                        <input class="form-control" ng-model="newCar.returnNumber" type="number" min="1" max="100" />
                    </div>
                    <div class="form-inline margin-bottom15">
                        <label class="ng-binding">备注：</label>
                    <textarea class="form-control" ng-model="newCar.remarks" style="margin-top: 1px;" maxlength="25">
                    </textarea>
                    </div>
                    <div class="addStation-btns" style="margin-right:10px;">
                        <button class="btn btn-primary" ng-click="confirmHalfRefuseOrder()"> 确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 15px; ">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>