<!-- 
  - Created by hui.sun on 15/12/10.
 -->
<div class="right-main">
    <pl4-query></pl4-query>
    <!--<div class="form-inline margin-bottom15">-->
        <!--<a  class="btn btn-primary btn-sm" href="#/main/orderAssignConfirm">分派配送员</a>-->
    <!--</div>-->

    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <div>
        <p>
            <span style="padding-right: 20px;">应收运费总合计：{{banner.pays}}</span>
            <span style="padding-right: 20px;">件数总合计：{{banner.acceGoodCounts}}</span>
            <span style="padding-right: 20px;">代收货款总合计：{{banner.collectMoneys}}</span>
        </p>
    </div>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    
    <!-- Modal -->
    <div class="modal fade" data-backdrop="static"  id="lookCall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="height: auto;width: 60%;">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">分拨单详情</p>
                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px;margin-bottom: 15px;">

                    <div class="new-version-border">
                        <p>配送单号：<span>{{modalBanner.assignTaskId}}</span></p>
                        <p>出库时间：<span>{{modalBanner.assignTime}}</span></p>
                        <p>操作人：<span>{{modalBanner.userName}}</span></p>
                        <p>出库配送中心：<span>{{modalBanner.cdcWlDeptName}}</span></p>
                        <p>配送方式：<span>{{modalBanner.distributionWay}}</span></p>
                        <p ng-show="isShow">配送员：<span>{{modalBanner.opUserName}}</span></p>
                        <p ng-show="isShow"> 车牌号：<span>{{modalBanner.opLicenseNumber}}</span></p>
                        <p ng-show="!isShow"> 配送第三方物流：<span>{{modalBanner.thirdpartyWl}}</span></p>
                        <p ng-show="!isShow"> 配送第三方单号：<span>{{modalBanner.thirdpartyTaskId}}</span></p>
                        <p ng-show="!isShow"> 配送第三方运费：<span>{{modalBanner.thirdpartyPay}}</span></p>
                    </div>
                    <div class="new-version-table">
                        <pl4-grid grid-table="openModelResult" th-header="openModelThHeader" verify="verify"></pl4-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>