<div class="right-main">
  <pl4-storage-select></pl4-storage-select>

    <pl4-query></pl4-query>

    <div class="margin-bottom15">
       <!-- <span>查询结果</span>-->
        <pl4-excel grid-table="result" action="/inventoryMonitor/adminImpToExcel" ex-params="exParams"></pl4-excel>
    </div>
    <div >
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    </div>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
 		<div class="modal fade" data-backdrop="static"  id="logModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">日志</p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="new-version-border">
                        <p>商品编号：<span>{{logModalBanner.sku}}</span></p>
                        <p>品牌：<span>{{logModalBanner.brand}}</span></p>
                        <p>商品名称：<span>{{logModalBanner.goodsName}}</span></p>
                        <p>规格型号：<span>{{logModalBanner.model}}</span></p>
                        <p>出厂编码：<span>{{logModalBanner.factoryCode}}</span></p>
                </div>
                <div class="new-version-table">
                    <pl4-excel grid-table="openModelResult" action="/inventoryMonitor/impDetailToExcel" ex-params="logExParams"></pl4-excel>
                    <pl4-grid grid-table="openModelResult" th-header="openModelThHeader"></pl4-grid>
                    <!--<pl4-paging select-option="logPagingSelect" paging-num="5" to-page="logGoToPage()" paging="orderLogPaging"></pl4-paging>-->
                    <div class="clear" style="margin-bottom: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>