<!-- 
  - Created by hui.sun on 15/12/10.
 -->
<div class="right-main">

    <!-- <pl4-select china-cities="chinaCities"></pl4-select> -->
    <pl4-query></pl4-query>
    <div class="float-left marginRight50">
        <pl4-excel grid-table="result" action="/workMonitor/impToExcel" ex-params="exParams"></pl4-excel>
    </div>
    <div class="statistics-container">
        <p></p>
        <div class="not-type">
            <p ng-bind="banner.signCount"></p>
            <p>签收</p>
        </div>
        <div class="not-num">
            <p ng-bind="banner.retenCount"></p>
            <p>滞留</p>
        </div>
        <div class="not-num">
            <p ng-bind="banner.refuseCount"></p>
            <p>拒收</p>
        </div>
        <div class="not-num">
            <p ng-bind="banner.sentCount"></p>
            <p>配送中</p>
        </div>
    </div>
    <!--<div>查询列表</div>-->
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    <div class="modal fade" data-backdrop="static"  id="logModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">日志</p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div class="new-version-table margin-top15">
                    <pl4-grid grid-table="openModelResult" th-header="openModelThHeader"></pl4-grid>
                    <!--<pl4-paging select-option="logPagingSelect" paging-num="5" to-page="logGoToPage()" paging="orderLogPaging"></pl4-paging>-->
                    <div class="clear" style="margin-bottom: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>