<div class="right-main">
    <div class="form-inline">
        <label>客户名称：</label>
       <span>{{customerName}}</span>
        <!--<button type="button" class="btn btn-primary btn-sm" ng-click="searchClick()"><span class="glyphicon glyphicon-search"></span>查询</button>-->

        <button class="btn btn-primary btn-sm" style="margin-left: 20px"  data-toggle="modal" data-target="#addCustomerModal" ng-click="btnAddClick()">
            添加客户管理账号
        </button>

    </div>
    <br/>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
   <div class="addStation-btns" style="float:left;margin-top: -10px;">
       <button class="btn btn-primary btn-sm" data-target="" ng-click="back()">
           返回
       </button>
   </div>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
   <div style="float: right;">
       <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
   </div>

    <div class="modal fade" data-backdrop="static"  id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 30%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">{{addCustomTitle}}</p>

                    <p class="allocation-close"><a href="javascript:;"  data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px">
                    <div class="addStation">
                        <form role="form" name="verifyForm1">
                        <div class="addStation-input" style="width: 80%">
                         <pl4-verify-message form-name="verifyForm1"></pl4-verify-message>
                            <div class="form-inline">
                                <label><span class="verify">*</span>账号负责人：</label>
                                <input type="text" class="form-control" ng-model="addCustomModel.userName" maxlength="32" required name="userName" verify-message="请输入账号负责人">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>负责人电话：</label>
                                <input type="text" class="form-control" ng-model="addCustomModel.tel" required  maxlength="11" name="tel"  pl4-verify="phone" verify-message="请输入正确的负责人电话">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>公司职务：</label>
                                <input type="text" class="form-control" ng-model="addCustomModel.userPosition"  maxlength="32" required name="userPosition" verify-message="请输入公司职务">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>平台账号：</label>
                                <input type="text" class="form-control" ng-disabled="!isAccountChecked" ng-model="addCustomModel.account" required  maxlength="32" name="account" verify-message="请输入平台账号">
                            </div>
                            <div class="form-inline">
                               <label><span class="verify">默认密码为123456</span></label>
                            </div>

                        </div>
                            <div class="addStation-btns" >
                                <button class="btn btn-primary btn-sm" ng-disabled="verifyForm1.$invalid" ng-click="enterAdd()">
                                    提交
                                </button>
                                <button class="btn btn-default btn-sm" data-dismiss="modal">
                                    取消
                                </button>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>