<div class="right-main">
    <pl4-query></pl4-query>
    <div class="margin-bottom15">
        <a class="btn btn-primary btn-sm" href="#/main/newBreakageTheOverflow" >
            新建报损报溢单
        </a>
    </div>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>

    <div class="modal fade" data-backdrop="static"  id="alloModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">查看明细</p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 15px 0">
                    <div class="addStation">
                        <div class="new-version-border margin0 margin-bottom15">
                            <p>损溢单号:<span>{{banner.taskId}}</span></p>
                            <p>操作员:<span>{{banner.optUser}}</span></p>
                            <p>商品种类:<span>{{banner.goodsTypeCount}}</span></p>
                            <!--<p>实盘数量:<span>{{banner.inventoryCount}}</span></p>-->
                            <p>驳回原因:<span>{{banner.remarks}}</span></p>
                        </div>
                        <pl4-grid grid-table="alloResult" th-header="allTHeader"></pl4-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static"  id="compileData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 60%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">编辑</p>

                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px">
                    <div class="addStation">
                        <pl4-grid grid-table="compileResult" th-header="compileTHeader"></pl4-grid>
                    </div>
                    <div class="addStation-btns" style="margin-right:10px;">
                        <button class="btn btn-primary" ng-click="confirmCompile()"> 确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>