<div class="right-main">
    <pl4-query></pl4-query>

    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <!--
    	select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>


    <div class="modal fade" data-backdrop="static"  id="lookLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="height: auto;width: 30%;">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">货位查看</p>
                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal"></a>
                    </p>
                </div>
         <!--        <div class="addStation-input">  -->
                <div class="addStation-input" style="width:100%;height: 550px;overflow-y: auto;">
                   <div class="form-inline">
                       <label for="">商品名称：</label>
                       {{locationmodel.goodsName}}
                   </div>
                   <div class="form-inline">
                       <label for="">规格型号：</label>
                       {{locationmodel.model}}
                   </div>
                   <div class="form-inline" style="overflow:hidden;">
                       <label for="" style="float: left">货位信息：</label>
                      <div style="float: left;margin-top: -2px;">
                           <span ng-repeat="o in locationmodel.huoWeiCodeList" style="line-height: 25px;">
                               {{o}} <br />
                           </span>
                      </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static"  id="setupLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="height: auto;width:50%;">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">货位设置</p>
                    <p class="allocation-close"><a href="javascript:;" style="color: white;" data-dismiss="modal" ng-click="resetting()"></a>
                    </p>
                </div>
                <div class="addStation-input" style="width:100%;height: 550px;overflow-y: auto;">
                    <div class="form-inline">
                        <label for="">商品名称：</label>
                        {{locationmodel.goodsName}}
                    </div>
                    <div class="form-inline">
                        <label for="">规格型号：</label>
                        {{locationmodel.model}}
                    </div>
                    <div class="form-inline" style="overflow:hidden;">
                        <label for="" style="float:left; line-height:25px;">设置货位：</label>
                        <div style="float:left;margin: -5px 10px 0 0">
                              <span ng-repeat="o in locationmodel.huoWeiCodeList" style="line-height: 40px;">
                               {{o}} <br />
                             </span>
                            <div ng-repeat="item in submitData.itemList" >
                                <select class="form-control " style="min-width: 100px" ng-options="o.id as o.name for o in locationmodel.select1.data" ng-model="item.containerNumber" ng-change="getLine($index,item.containerNumber)"></select>
                                <select class="form-control " style="min-width: 100px" ng-options="o.id as o.name for o in getSelectData[$index].select2" ng-model="item.line" ng-change="getColumn($index,item.containerNumber,item.line)"></select>
                                <select class="form-control " style="min-width: 100px" ng-options="o.id as o.name for o in getSelectData[$index].select3" ng-model="item.column" ng-change="changeSelectStatus($index,item.containerNumber,item.line,item.column)"></select>
                                <span ng-click="deleteArr($index);deleteHuoWeiNo($index,item.containerNumber,item.line,item.column)" style="cursor: pointer;font-size: 12px;padding-left: 5px;">删除</span>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" ng-click="addItem()" style="float:left;">
                            添加
                        </button>
                    </div>
                </div>
                <div class="addStation-btns">
                    <button class="btn btn-primary btn-sm" ng-click="enterSetupLocation()">
                        确认
                    </button>
                    <button class="btn btn-default btn-sm" data-dismiss="modal" ng-click="resetting()">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>