<div class="takegoods">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" ng-click="navClick(2)"><a href="#a" aria-controls="storage" role="tab" data-toggle="tab">运营费用</a></li>
            <li ng-click="navClick(1)"><a href="#b" aria-controls="logistic" role="tab" data-toggle="tab">配送费用</a></li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane active" id="nav1" ng-if="navShow">
        <div class="form-inline search-container padding-15">
            <div class="form-group">
                <label>发票号：</label>
                <input type="text" style="min-width: 100px" class="form-control" ng-model="pageModel.receiptId">

            </div>
            <div class="form-group ">
                <label>审核状态：</label>
                <select class="form-control" style="min-width: 100px" ng-options="o.id as o.name for o in examinestatu.examinestatuSelect"
                        ng-model="examinestatu.id"></select>
            </div>
            <button type="submit" class="btn btn-primary btn-query " ng-click="searchClick(2)">查询</button>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane active" id="nav2" ng-if="!navShow">
        <div class="form-inline search-container padding-15">
            <div class="form-group">
                <label>订单号：</label>
                <input type="text" style="min-width: 100px" class="form-control" ng-model="pageModel.waybill">
            </div>
            <div class="form-group">
                <label>业务单号：</label>
                <input type="text" style="min-width: 100px" class="form-control" ng-model="pageModel.taskId">
            </div>
            <div class="form-group ">
                <label>审核状态：</label>
                <select class="form-control" style="min-width: 100px" ng-options="o.id as o.name for o in examinestatu.examinestatuSelect"
                        ng-model="examinestatu.id"></select>
            </div>
            <button type="submit" class="btn btn-primary btn-query " ng-click="searchClick(1)">查询</button>
        </div>
    </div>
    <div class="margin-bottom15" ng-if="navShow">
        <button class="btn btn-primary btn-sm" ng-click="moneyRegisterClick()" data-toggle="modal"
                data-target="#moneyRegister">
            费用登记
        </button>
    </div>
<!--    <div class="margin-bottom15" ng-if="!navShow">
        <button class="btn btn-primary btn-sm" ng-click="moneyRegisterClick()" data-toggle="modal"
                data-target="#logisticsMoneyRegister">
            费用登记
        </button>
    </div>
  -->
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <p ng-hide="isData" style="text-align: center;overflow:hidden;padding: 10px;">暂无数据</p>

    <!--select-option:显示条数数据  paging-num:显示分页按钮个数 to-page:点击页数方法 paging:分页配置数据-->
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    <div class="modal fade" data-backdrop="static"  id="moneyRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 30%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">{{moneyRegisterTitle}}</p>

                    <p class="allocation-close"><a href="javascript:;"  data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px">
                    <div class="addStation">
                        <form role="form" name="verifyForm" class="form-horizontal">
                            <pl4-verify-message form-name="verifyForm"></pl4-verify-message>
                            <div class="form-inline">
                                <label><span class="verify">*</span>费用用途：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.feeCost" required name="feeCost" verify-message="请输入费用用途" maxlength="15">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>金额：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.money" required name="money" verify-message="请输入金额" maxlength="15"  onkeyup="this.value=(this.value.match(/\d+(\.\d{0,2})?/)||[''])[0]">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>发票号：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.receiptId" required name="receiptId" verify-message="请输入发票号" maxlength="15" >
                            </div>
                            <div class="form-inline">
                                <label>费用说明：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.description"  name="description"  maxlength="50" style="width: 200px;">
                            </div>
                            <div class="addStation-btns" >
                                <button class="btn btn-primary btn-sm" ng-disabled="verifyForm.$invalid" ng-click="moneyRegisterAdd()">
                                    确认
                                </button>
                                <button class="btn btn-default btn-sm"
                                        data-dismiss="modal">
                                    取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static"  id="logisticsMoneyRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 30%;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">{{moneyRegisterTitle}}</p>

                    <p class="allocation-close"><a href="javascript:;"  data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px">
                    <div class="addStation">
                        <form role="form" name="verifyForm1" class="form-horizontal">
                            <pl4-verify-message form-name="verifyForm1"></pl4-verify-message>
                            <div class="form-inline">
                                <label><span class="verify">*</span>配送商名称：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.deliveryName" required name="deliveryName" verify-message="请输入配送商名称" maxlength="15">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>运费：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.transportFee" required name="transportFee" verify-message="请输入运费" maxlength="15" onkeyup="this.value=(this.value.match(/\d+(\.\d{0,2})?/)||[''])[0]">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>业务单号：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.taskId" required name="taskId" maxlength="50" verify-message="请输入业务单号"   readonly="readonly"  disabled="disabled" style="width:200px;background:#CCCCCC">
                            </div>
                            <div class="form-inline">
                                <label><span class="verify">*</span>订单号：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.waybill" required name="waybill" verify-message="请输入订单号" maxlength="30" >
                            </div>
                            <div class="form-inline">
                                <label>费用说明：</label>
                                <input type="text" class="form-control" ng-model="moneyRegisterModel.description2"  name="description2"  maxlength="50" style="width: 200px;">
                            </div>
                            <div class="addStation-btns" >
                                <button class="btn btn-primary btn-sm" ng-disabled="verifyForm1.$invalid" ng-click="logisticsMoneyRegisterAdd()">
                                    确认
                                </button>
                                <button class="btn btn-default btn-sm"
                                        data-dismiss="modal">
                                    取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>