<div class="right-main">
    <!-- <pl4-query></pl4-query>-->
    <div>
        <button class="btn btn-primary btn-sm" ng-click="addStationClick()">
            添加岗位
        </button>
    </div>
    <br/>
    <pl4-grid grid-table="result" th-header="thHeader" paging="paging"></pl4-grid>
    <p ng-hide="isData" style="text-align: center;overflow:hidden;padding: 10px;">暂无数据</p>
    <pl4-paging select-option="pagingSelect" paging-num="5" to-page="goToPage()" paging="paging"></pl4-paging>
    <div class="modal fade" data-backdrop="static"  id="addStation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 900px;height: auto">
            <div class="modal-content">
                <div class="allocation-head">
                    <p class="allocation-title">{{stationTitle}}</p>

                    <p class="allocation-close"><a href="javascript:;"  data-dismiss="modal"></a>
                    </p>
                </div>
                <div style="padding: 10px 5px">
                    <div class="addStation">
                                    <form role="form" name="verifyForm">
                                        <pl4-verify-message form-name="verifyForm"></pl4-verify-message>
                                        <div class="form-inline">
                                            <div class="form-inline">
                                                <label class="minLabel"><span class="verify">*</span>表示必填项</label>
                                            </div>
                                            <!--  
                                            <div class="form-group">

                                                <label class="minLabel"><span class="verify">*</span>岗位编号：</label>
                                                <input type="text" class="form-control" ng-model="stationModel.code" required name="code" verify-message="请输入岗位编号" maxlength="32">
                                            </div>
                                            -->
                                            <div class="form-group">
                                                <label class="minLabel"><span class="verify">*</span>岗位名称：</label>
                                                <input type="text" class="form-control" ng-model="stationModel.postName" required name="postName" verify-message="请输入岗位名称" maxlength="8">
                                            </div>
                                            <!--<label><span class="verify">*</span>上级岗位：</label>
                                            <input type="text" class="form-control" ng-model="stationModel.parentName" required>-->
                                            <div class="form-group">
                                                <label class="minLabel"><span class="verify">*</span>岗位介绍：</label>
                                                <input type="text" class="form-control" style="" ng-model="stationModel.postRemark" required name="postRemark" verify-message="请输入岗位介绍" maxlength="30">
                                            </div>
                                            </div>
                                        <div class="addStation-checked">
                                            <label class="addStation-checked-title">选择岗位权限</label>
                                            <hr/>
                                            <div class="addStation-checkbox">
                                                <div ng-repeat="item in sysStationData">
                                                    <p><i class="glyphicon glyphicon-triangle-bottom addStation-icon"></i><!--<label><input type="checkbox" ng-change="checkedChangeAll(item)" ng-model="item.checked"
                                                                     ng-checked="item.checked"/></label>-->{{item.text}}</p>
                                                    <ul>
                                                        <li ng-repeat="check in item.children"><label><input type="checkbox" value="{{check.id}}"
                                                                                                          ng-change="checkedChange(item,check)"
                                                                                                          ng-model="check.checked"
                                                                                                          ng-checked="check.checked"/>{{check.text}}</label>
                                                        </li>
                                                    </ul>
                                                    <p class="clear"></p>
                                                </div>
                                            </div>
                                            <div class="clear"></div>

                                        </div>
                                        <div class="addStation-btns" >
                                            <button class="btn btn-primary btn-sm" ng-disabled="verifyForm.$invalid" ng-click="enterAddStation()">
                                                确认
                                            </button>
                                            <button class="btn btn-default btn-sm" data-dismiss="modal" ng-click="offChecked()">
                                                取消
                                            </button>
                                        </div>
                                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="isAddStation" class="addStation">

    </div>
</div>